n8n/food-stats-telegram-workflow.json
{
  "name": "Food Stats",
  "nodes": [
    {
      "parameters": {
        "chatId": "={{ $('Telegram Bot Trigger').item.json.message.chat.id }}",
        "text": "Sorry, but I only accept images.",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Bot Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -912,
        224
      ],
      "id": "1cd05a0a-045a-4714-9944-e1153ed1a4b7",
      "name": "Send Message - No Image",
      "webhookId": "d1fdbba5-7c4a-4177-b572-cb63aaee8084",
      "credentials": {
        "telegramApi": {
          "id": "12MFeULnCGJO2PsF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        128
      ],
      "id": "9231f1f6-db1d-4024-a64e-b968f1968b00",
      "name": "Telegram Bot Trigger",
      "webhookId": "1a88853d-7da4-4920-b0dc-2255cc7b1196",
      "credentials": {
        "telegramApi": {
          "id": "12MFeULnCGJO2PsF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the highest resolution photo\nconst photos = $json.message.photo;\nconst largestPhoto = photos[photos.length - 1];\n\nreturn [\n  {\n    json: {\n      file_id: largestPhoto.file_id\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        32
      ],
      "id": "a828f1a8-bf67-4329-970d-11146241cfe0",
      "name": "Get highest quality Image"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "511986a7-e221-4f1b-a945-89c9157fc73d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "111f33f3-a892-49d9-bf6e-3f6c2cf66feb",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Empty"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1120,
        128
      ],
      "id": "78af91d0-1585-453f-ad4e-71c2d4e96a42",
      "name": "Check if Message contains Image"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -704,
        32
      ],
      "id": "5d9944cf-bcca-4372-b761-0183b526ab83",
      "name": "Get Image",
      "webhookId": "2b23e1b7-712d-4044-a509-ff78e1cfc25e",
      "credentials": {
        "telegramApi": {
          "id": "12MFeULnCGJO2PsF",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://food-stats:8080/analyze",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -496,
        32
      ],
      "id": "5533719a-798d-4212-86df-049971abb385",
      "name": "Request to API"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nlet message = \"🍽 *Food Summary*\\n\\n*Foods:*\\n\";\n\ndata.foods.forEach(food => {\n  message += `- ${food.label}: ${food.grams}g, ${food.calories} kcal\\n`;\n});\n\nmessage += `\\n*Total:* ${data.total_grams}g, ${data.total_calories} kcal`;\n\nreturn [{ json: { message } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        32
      ],
      "id": "6603299f-a556-45e4-8039-b5fc4de9532e",
      "name": "Convert JSON to Message"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Bot Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Bot Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -80,
        32
      ],
      "id": "2eeffb7a-a209-4de7-bd2b-86e32b8f1c7c",
      "name": "Send Message - Result",
      "webhookId": "de8b0122-c495-4d0c-968c-504843b4da4f",
      "credentials": {
        "telegramApi": {
          "id": "12MFeULnCGJO2PsF",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Bot Trigger": {
      "main": [
        [
          {
            "node": "Check if Message contains Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get highest quality Image": {
      "main": [
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Message contains Image": {
      "main": [
        [
          {
            "node": "Get highest quality Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Message - No Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Request to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request to API": {
      "main": [
        [
          {
            "node": "Convert JSON to Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert JSON to Message": {
      "main": [
        [
          {
            "node": "Send Message - Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f597a9f4-abc9-4989-af44-98662c0d43e3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0903c109c9181fca4685b55f5722deab7c08f523e727bb86b47731fdf7a063aa"
  },
  "id": "yHVaYO2omAZvwnTC",
  "tags": []
}